.register-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    background-color: #f5f5dc; /* สีไข่ไก่ */
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px; /* ลดช่องว่างระหว่าง label และ input */
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  select {
    width: 95%;
    padding: 8px;
    margin-bottom: 10px; /* ช่องว่างระหว่างช่องกรอกข้อมูล */
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .password-container {
    position: relative;
    margin-bottom: 20px;
  }
  
  .password-container input[type="password"] {
    padding-right: 30px; /* เพิ่มที่ว่างด้านขวาสำหรับปุ่ม */
  }
  
  .password-toggle-button {
    position: absolute;
    top: 60%;
    right: 10px;
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .dob-container {
    display: flex;
    justify-content: space-between;
  }
  
  .dob-container select {
    width: 32%;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }
  
  .error-message {
    color: red;
    margin-bottom: 10px;
  }
  